<h1>全機器一覧</h1>

<table>
  <% @materials.each do |material| %>
    <tr>
      <td><%= image_tag material.get_image(50, 50) %></td>
      <td>
        <%=link_to material.name, admin_material_path(material) %>
        <%= material.genre.name %>
      </td>
      <td><!-- レビュー・コメント件数・いいね件数記載場所 -->
        <i class="fa-regular fa-circle-check"></i>：<%= material.favorites.count %>件
        <i class="fa-solid fa-comment"></i>：<%= material.comments.count %>件
      </td>
    </tr>
  <% end %>
</table>