<div class="bg-light rounded border border-success p-3 text-dark">
  <h4 class="my-2">コメント・レビュー一覧</h4>

  <!-- 星画像のURLを渡すための専用タグ -->
  <div id="star-image-paths"
    data-star-on="<%= asset_path('star-on.png') %>"
    data-star-off="<%= asset_path('star-off.png') %>"
    data-star-half="<%= asset_path('star-half.png') %>">
  </div>

  <% comments.each do |comment| %>
    <div class="border-bottom py-2 m-4">
      <h5 class="font-weight-bold mb-2"><%= comment.user.nickname %></h5>
      <div class="comment-star-rating mb-4" data-score="<%= comment.star %>"></div>
      <p class="mb-2"><strong>良い点：</strong> <%= comment.good_comment %></p>
      <p class="mb-4"><strong>使いにくい点：</strong> <%= comment.bad_comment %></p>

      <!-- 削除/通報/通報済みボタン -->
      <% if user_signed_in? %>
        <% if comment.user == current_user %>
          <%= button_to "削除する", material_comment_path(comment.material, comment), method: :delete, class: "btn btn-danger btn-sm" %>
        <% elsif current_user && !Report.exists?(user_id: current_user.id, reportable: comment) %>
          <%= link_to "通報する", "#reportModal_#{comment.id}", class: "btn btn-warning btn-sm", data: { toggle: "modal" } %>
        <% else %>
          <span class="text-muted">通報済み</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>