<div class="container mt-4">
  <h1 class="mb-4 text-center">コメント投稿</h1>

  <!-- 星画像のURLを渡すための専用タグ -->
  <div id="star-image-paths"
    data-star-on="<%= asset_path('star-on.png') %>"
    data-star-off="<%= asset_path('star-off.png') %>"
    data-star-half="<%= asset_path('star-half.png') %>">
  </div>

  <%= form_with model: [@material, @comment], local: true do |f| %>
    <div class="form-group">
      <%= f.label "良いポイント" %>
      <%= f.text_area :good_comment, rows: '3', placeholder: "良かった、もしくは勧めたいところは？" %>
    </div>
    <div class="form-group">
      <%= f.label "使いにくいポイント" %>
      <%= f.text_area :bad_comment, rows: '3', placeholder: "使いにくい、もしくは改善してほしいところは？" %>
    </div>

    <div class="form-group" id='star'>
      <%= f.label :star %>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty" class="post-star-rating" data-name="comment[star]"></div>
    </div>

    <%= f.submit "コメント・評価する" %>

  <% end %>
</div>