<h1>詳細ページ</h1>

<%= image_tag @material.get_image(200, 200) %>
<h3><%= @material.name %></h3>

<%= link_to "編集する", edit_material_path(@material) %>

<!-- 使用 (いいね)機能 -->
<% if user_signed_in? %>
  <% if @material.favorited_by?(current_user) %>
    <p>
      <%= link_to material_favorite_path(@material), method: :delete do %>
        <i class="fa-regular fa-circle-check"></i>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to material_favorite_path(@material), method: :post do %>
        <i class="fa-regular fa-circle-check"></i>
      <% end %>
    </p>
  <% end %>
<% end %>

<p>特徴</p>
<p><%= @material.body %></p>
<p>URL</p>
<%= Rinku.auto_link(@material.url, :all, 'target="_blank"').html_safe %>

<% if user_signed_in? %>
  <%= link_to "コメント/レビューする", new_material_comment_path(@material) %>
<% end %>

<p><i class="fa-regular fa-circle-check"></i>：<%= @material.favorites.count %>件</p>
<p><i class="fa-solid fa-comment"></i>：<%= @material.comments.count %>件</p>

<!-- コメント・レビュー一覧 -->
<% @material.comments.each do |comment| %>
  <%= comment.user.nickname %><br>
  <div id="star_<%= comment.id %>"></div>
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#star_<%= comment.id %>');
      if (elem == null) return;
      
      elem.innerHTML = "";
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= comment.star %>",
        readOnly: true,
      };
      raty(elem, opt);
    });
  </script>
  <p>良いポイント</p><%= comment.good_comment %>
  <p>使いにくいポイント</p><%= comment.bad_comment %>
  <% if comment.user == current_user %>
    <%= link_to "削除する", material_comment_path(comment.material, comment), method: :delete %>
  <% end %>
<% end %>