<div class="bg-light rounded border border-success p-3 text-dark">
  <h4 class="my-2">コメント・レビュー一覧</h4>
  <% @material.comments.each do |comment| %>
    <div class="border-bottom py-2 m-4">
      <h5 class="font-weight-bold mb-2"><%= comment.user.nickname %></h5>
      <div class="comment-star-rating mb-4" data-score="<%= comment.star %>"></div>
      <p class="mb-2"><strong>良い点：</strong> <%= comment.good_comment %></p>
      <p class="mb-4"><strong>使いにくい点：</strong> <%= comment.bad_comment %></p>

      <% if comment.user == current_user %>
        <%= link_to "削除する", material_comment_path(comment.material, comment), method: :delete, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>