<div class="modal fade" id="reportModal_<%= material.id %>" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel_<%= material.id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-dark">

      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel_<%= material.id %>">通報する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= form_with(model: [material, Report.new]) do |f| %>
          <% Report.reasons.keys.each do |reason| %>
            <div class="form-check">
              <%= f.radio_button :reason, reason, class: "form-check-input", id: "report_reason_#{reason}_#{material.id}" %>
              <%= f.label "report_reason_#{reason}_#{material.id}", report_reason_label(reason), class: "form-check-label" %>
            </div>
          <% end %>

          <%= f.submit "通報する", class: "btn btn-danger mt-3" %>
        <% end %>
      </div>

    </div>
  </div>
</div>