<div class="container my-5">

  <!-- プロフィール情報 -->
  <div class="card bg-light mb-4 p-4 text-center">
    <h1><%= @user.name %></h1>
    <h3><%= @user.nickname %></h3>
    <h3><%= @user.clinical_department %></h3>

    <div class="d-flex justify-content-center mt-3 gap-3">
      <span><i class="fa-solid fa-pen"></i> レビュー数：<%= @user.comments.count %></span>
      <span><i class="fa-regular fa-heart"></i> いいね数：<%= @user.favorites.count %></span>
    </div>

    <div class="mt-3">
      <%= link_to "プロフィールを編集", users_information_edit_path, class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

  <!-- 自分の投稿一覧 -->
  <div class="mb-5">
      <h4 class="mb-3 text-white">自分の登録した機器一覧</h4>
      
      <%= link_to "新規投稿する", new_material_path, class: "btn btn-outline-secondary btn-sm" %>

      <%= render 'public/materials/index', materials: @user.materials %>
  </div>

  <!-- 自分の投稿一覧 -->
  <div class="mb-5">
      <h4 class="mb-3 text-white">お気に入り一覧</h4>

      <%= render 'public/materials/index', materials: @user.favorites.material %>
  </div>

  <!-- コメント一覧 -->
  <%= render 'public/favorites/index', material: @user.material %>
</div>