<div class="container my-5">

  <div class="mypage-section mb-4 p-4">

    <!-- プロフィール情報 -->
    <div class="profile-section mb-4 p-4">
      <h1><%= @user.name %></h1>
      <h3><%= @user.nickname %></h3>
      <h3><%= @user.clinical_department %></h3>

      <div class="d-flex justify-content-center mt-3 gap-3">
        <span><i class="fa-regular fa-circle-check"></i> 使用数：<%= @user.favorites.count %></span>　
        <span><i class="fa-solid fa-comment"></i> コメント・レビュー数：<%= @user.comments.count %></span>
      </div>

      <div class="mt-3">
        <%= link_to "プロフィールを編集", users_information_edit_path, class: "btn btn-outline-success" %>
      </div>
    </div>

      <!-- 自分の投稿一覧 -->
      <div class="m-5">
        <h4 class="mb-3 text-white">自分の登録した機器一覧</h4>
        <%= link_to "新規投稿する", new_material_path, class: "btn btn-secondary" %>

        <!-- タブ切り替え -->
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <%= link_to "すべて", users_mypage_path, remote: true, data: { turbolinks: false }, class: "nav-link #{params[:status].blank? ? 'active' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to "承認待ち (#{@status_counts[:pending]})", users_mypage_path(status: "pending"), remote: true, data: { turbolinks: false }, class: "nav-link #{params[:status] == 'pending' ? 'active' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to "承認済み (#{@status_counts[:approved]})", users_mypage_path(status: "approved"), remote: true, data: { turbolinks: false }, class: "nav-link #{params[:status] == 'approved' ? 'active' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to "却下 (#{@status_counts[:rejected]})", users_mypage_path(status: "rejected"), remote: true, data: { turbolinks: false }, class: "nav-link #{params[:status] == 'rejected' ? 'active' : ''}" %>
          </li>
        </ul>

        <div id="user-materials-list">
          <%= render 'public/materials/index', materials: @materials %>
        </div>
      </div>

      <!-- 自分の投稿一覧 -->
      <div class="m-5">
        <h4 class="mb-3 text-white">お気に入り一覧</h4>
        <!-- ユーザーのお気に入り取得 + N+1問題回避(includes) + Favoriteに関連づいたMaterialの取り出し(map) -->
        <%= render 'public/materials/index', materials: @user.favorites.includes(:material).map(&:material) %>
      </div>

      <!-- コメント一覧 -->
      <div class="m-5">
        <%= render 'public/comments/index', comments: @user.materials.includes(:comments).map(&:comments).flatten %>
      </div>
    </div>
</div>