<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #2E2930;">
    <div class="container-fluid">
      
      <!-- ロゴ -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "icon.png", size: '90x90' %>
      <% end %>

      <!-- ナビゲーションリンク -->
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav d-flex flex-row gap-3">

          <% if user_signed_in? %>
            
            <!-- ジャンル検索窓 -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                ジャンルを検索
              </a>
              <div class="dropdown-menu">
                <% Genre.all.each do |genre| %>
                    <%= link_to genre.name, genre_path(genre), class: "dropdown-item" %>
                <% end %>
              </div>
            </li>

            <li class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notification
                <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if current_user.notifications.where(read: false).any? %>
                  <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                  <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                    <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "dropdown-item" %>
                  <% end %>
                <% else %>
                  <span class="dropdown-item disabled">未読の通知はありません</span>
                <% end %>
              </div>
            </li>

            <li class="nav-item">
              <%= link_to "マイページ", users_mypage_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "機器/材料一覧", materials_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light" %>
            </li>

          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "機器/材料一覧", admin_materials_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-light" %>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "機器/材料一覧", materials_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>