<!DOCTYPE html>
<html>
  <head>
    <title>Dr.mateque Report</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/135a031a66.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-bg text-white">
    <%= render 'layouts/header' %>

    <p class='text-secondary'><%= flash[:notice] %></p>
    <p class='text-danger'><%= flash[:alert] %></p>

    <!-- 検索窓 -->
    <div class="d-flex justify-content-center mb-2">
      <%= render 'public/searches/form' %>
      <!-- %= render 'public/genres/search' % -->
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
